* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}

body {
    color: #555555;
    font-family: Helvetica, sans-serif;
}

.title-bar {
    background: #e35557;
    color: #ffffff;

    h1 {
        font-weight: 300;
        font-size: 2.4rem;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 50rem;
    padding: 1.3rem;
}